{% extends 'base.html' %}

{% block title %}Audios{% endblock %}
{% block header %}<h3>Consejos para la escritura de los prompts</h3>{% endblock %}

{% block content %}
<div class="acknowledgements">
    <h4>Trucos Esenciales para Mejorar la Calidad de tu Audio Generado</h4>
    <p>1. Intenta usar más adjetivos para describir tu sonido. Por ejemplo: "Un hombre está hablando claramente y
        lentamente en una habitación grande" es mejor que "Un hombre está hablando".</p>
    <p>2. Intenta escribir tu petición en Inglés para un mejor resultado.</p>
    <p>3. Es mejor usar términos generales como 'hombre' o 'mujer' en lugar de nombres específicos para individuos u
        objetos abstractos con los que los humanos pueden no estar familiarizados.</p>
    <p>4. Consulta los prompts de los audios públicos más valorados para aprender a realizar una buena redacción del prompt.</p>
</div>
{% endblock %}