{% extends 'base.html' %}

{% block header %}
<h3>Mis Audios</h3>
{% endblock %}

{% block content %}
<section class="nueva">
  <h2 class="new">{% block title %}Nuevo Audio{% endblock %}</h2>
  <form method="post" action="{{ url_for('sound.generate_audio') }}">
    <label for="title">Título del audio</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="duration">Duración</label>
    <input name="duration" id="duration" value="{{ request.form['duration'] }}" required>
    <label for="prompt">¿De qué quieres que trate tu audio?</label>
    <input name="prompt" id="prompt" value="{{ request.form['prompt'] }}" required>
    <label for="public">¿Quieres que tu audio sea público?</label>

    <div class="radio-buttons">
      <label class="radio-button">
        <input type="radio" name="option" value="option1">
        <div class="radio-circle"></div>
        <div class="radio-label">SI</div>
      </label>
      <label class="radio-button">
        <input type="radio" name="option" value="option2">
        <div class="radio-circle"></div>
        <div class="radio-label">NO</div>
      </label>

    </div>


</section>

<input class="button" type="submit" value="Generar">
</form>
</section>
{% endblock %}