{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Audios{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('sound.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for sound in sound %}
    <article class="post">
      <header>
        <div>
          <h1>{{ sound['title'] }}</h1>
          <div class="about">by {{ sound['email'] }}</div>
        </div>
        {% if g.user['email'] == sound['email'] %}
        <a class="action" href="{{ url_for('sound.update', sound_id=sound['_id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ sound['audiolink'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}