{% extends 'base.html' %}

{% block title %}Audios{% endblock %}
{% block header %}<h3>Mis Audios</h3>{% endblock %}

{% block content %}
{% if g.user %}
<a class="actionNew" href="{{ url_for('sound.create') }}">Nuevo Audio</a>
{% endif %}
{% if not g.user %}
<section class="contenedornolog">
  <a class="nolog" href="{{ url_for('auth.login') }}">Inicia Sesión para poder acceder a tus audios</a>
</section>
{% endif %}

{% for sound in sound %}

{% if g.user['email'] == sound['email'] %}
<article class="post">
  <header>
    <div>
      <h2 class="tituloAudio">{{ sound['title'] }}</h2>
      <div class="about">by {{ sound['email'] }}</div>

      <div class="audio green-audio-player">
        <div class="play-pause-btn">
          <svg class="play-icon" viewBox="0 0 18 24" height="24" width="18" xmlns="http://www.w3.org/2000/svg">
            <path id="playPause{{ loop.index }}" class="play-pause-icon" d="M18 12L0 24V0" fill-rule="evenodd"
              fill="#566574"></path>
          </svg>
          <svg class="pause-icon" style="display: none;" viewBox="0 0 18 24" height="24" width="18"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h6v24H0zM12 0h6v24h-6z" fill-rule="evenodd" fill="#566574"></path>
          </svg>
        </div>

        <div class="controls">
          <span class="current-time">0:00</span>
          <div data-direction="horizontal" class="slider">
            <div class="progress">
              <div data-method="rewind" id="progress-pin{{ loop.index }}" class="pin"></div>
            </div>
          </div>
          <span class="total-time">0:{{ sound['duration'] }}</span>
        </div>

        <div class="volume">
          <div class="volume-btn">
            <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path id="speaker"
                d="M14.667 0v2.747c3.853 1.146 6.666 4.72 6.666 8.946 0 4.227-2.813 7.787-6.666 8.934v2.76C20 22.173 24 17.4 24 11.693 24 5.987 20 1.213 14.667 0zM18 11.693c0-2.36-1.333-4.386-3.333-5.373v10.707c2-.947 3.333-2.987 3.333-5.334zm-18-4v8h5.333L12 22.36V1.027L5.333 7.693H0z"
                fill-rule="evenodd" fill="#566574"></path>
            </svg>
          </div>
          <div class="volume-controls hidden">
            <div data-direction="vertical" class="slider">
              <div class="progress">
                <div data-method="changeVolume" id="volume-pin{{ loop.index }}" class="pin"></div>
              </div>
            </div>
          </div>
        </div>

        <audio src="{{ url_for('static', filename='audios/' + sound['path']) }}" crossorigin=""></audio>

      </div>
      <div class="prompt"
        style="color: rgb(24, 120, 209); text-transform: uppercase; font-family: 'Comic Sans MS', cursive;">{{
        sound['prompt'] }}</div>

    </div>
    <a class="action" href="{{ url_for('sound.update', sound_id=sound['_id']) }}">Edit</a>

  </header>
</article>
{% endif %}
{% if not loop.last %}
{% endif %}
{% endfor %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const players = document.querySelectorAll('.green-audio-player');
    let currentAudio = null; // Referencia al audio que se está reproduciendo actualmente

    players.forEach(function (player) {
      const audio = player.querySelector('audio');
      const playPauseBtn = player.querySelector('.play-pause-btn');
      const currentTimeDisplay = player.querySelector('.current-time');
      const timeCircle = player.querySelector('.time-circle'); // El círculo del tiempo
      const timePoint = player.querySelector('.time-point'); // El punto en el círculo del tiempo

      const radius = 100;

      playPauseBtn.addEventListener('click', function () {
        const playIcon = playPauseBtn.querySelector('.play-icon');
        const pauseIcon = playPauseBtn.querySelector('.pause-icon');

        if (audio.paused) {
          if (currentAudio && currentAudio !== audio) {
            currentAudio.pause(); // Pausa el audio que se está reproduciendo actualmente
            currentAudio.parentNode.querySelector('.play-icon').style.display = '';
            currentAudio.parentNode.querySelector('.pause-icon').style.display = 'none';
          }

          audio.play(); // Reproduce el nuevo audio
          playIcon.style.display = 'none';
          pauseIcon.style.display = '';
          currentAudio = audio; // Actualiza el audio que se está reproduciendo actualmente
        } else {
          audio.pause();
          playIcon.style.display = '';
          pauseIcon.style.display = 'none';
          currentAudio = null; // No hay ningún audio reproduciéndose
        }
      });

      audio.addEventListener('timeupdate', function () {
        // Calcula los minutos y segundos actuales
        const minutes = Math.floor(audio.currentTime / 60);
        const seconds = Math.floor(audio.currentTime % 60);

        // Actualiza el display del tiempo actual
        currentTimeDisplay.textContent = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;

        // Calcula el progreso del audio
        const progress = audio.currentTime / audio.duration;

        // Obtén una referencia a la barra de progreso 
        const progressBar = player.querySelector('.progress');

        // Actualiza el ancho de la barra de progreso 
        progressBar.style.width = `${progress * 100}%`;
      });

      audio.addEventListener('ended', function () {
        const progressBar = player.querySelector('.progress');
        progressBar.style.width = '0%';

      });

      audio.addEventListener('ended', function () {
        currentTimeDisplay.textContent = '0:00';
        playPauseBtn.querySelector('.play-icon').style.display = '';
        playPauseBtn.querySelector('.pause-icon').style.display = 'none';
        currentAudio = null; // No hay ningún audio reproduciéndose

        // Resetea el círculo del tiempo
        timeCircle.style.strokeDashoffset = timeCircle.getTotalLength();
        // Resetea la posición del punto
        timePoint.style.transform = `translate(${radius}px, 0px)`;
      });
    });
  });
</script>

{% endblock %}