html {
    font-family: sans-serif;
    background: #eee;
    padding: 2rem;
    background-image: url("./images/parti.jpg");
    background-attachment: fixed;
    /*para que la imagen del fondo se adapte a la altura*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bordesheader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    /* Aplica los bordes redondeados a los elementos internos */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);

}

body {
    margin: 0 auto;
    min-height: 50vh;
    text-align: center;
}

h1 {
    font-family: serif;
    color: white;
    margin: 1rem 0;
    text-align: left;
    font-size: 200%;
    font-style: italic;
}

h2 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
    text-align: center;
}

h3 {
    font-family: serif;
    font-size: 300%;
    color: #377ba8;
    text-align: center;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    /* Aplica los bordes redondeados a los elementos internos */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    margin-block-start: 0.5%;
}

a {
    color: white;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

.contenedorfooter {
    margin-top: 3%;
}

footer {
    background-image: linear-gradient(to right, #377ba8, #4e54c8);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    font-size: 120%;
    margin-top: auto;

}

footer ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

footer ul li {
    flex: 1;
    /* Esto hará que cada elemento de la lista ocupe un espacio igual dentro del footer */
    height: 100%;
}

footer a {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 20px;
}


footer a:hover,
footer a.active {
    background-color: white;
    color: #377ba8;
}

/* footer ul li:hover, footer ul li.active {
    background-color: white;
}

footer ul li:hover a, footer ul li.active a {
    color: #377ba8; 
} */

.premenu {
    background-image: linear-gradient(to right, #377ba8, #4e54c8);
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    justify-content: space-around;

}


.premenu h1 {
    flex: auto;
    margin: 0;
}

.premenu h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

.premenu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.premenu ul li a,
.premenu ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

.action {
    background-image: linear-gradient(to right, #377ba8, #4e54c8);
    color: white;
    font-size: 140%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-decoration: none;
}

.actionNew{
    font-family: serif;
    font-size: 190%;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, #377ba8, #4e54c8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    /* Aplica los bordes redondeados a los elementos internos */
    text-decoration: none;
}

.contenedornolog {
    margin-top: 10%;

}

.nolog {
    background-color: #ffffff;
    color: #00306e;
    /* Ajusta este valor a lo que necesites */
    padding: 3em;
    /* Añade un poco de espacio alrededor del contenido dentro de cada article */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-decoration: none;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: rgb(255, 255, 255);
    height: 100%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    font-size: 120%;

}

.menu a {
    color: #377ba8;
    /* Cambia el color del texto del enlace */
    text-decoration: none;
    /* Elimina la subrayado del enlace */
    padding: 0.5em;
    /* Añade un poco de espacio alrededor del enlace */
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 20px;
}


.menu a:hover,
.menu a.active {
    background-image: linear-gradient(to right, #377ba8, rgb(62, 0, 119));
    background-color: #377ba8;
    color: white;
}


.content {
    padding: 0 1rem 1rem;
    margin-top: 1%;
    width: 40%;
    margin: 0 auto 1em;
    margin-top: 1%;
    border-radius: 10%;

}

.content>header {
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.post {
    background-color: #ffffff;
    /* Cambia esto al color que prefieras */
    margin-bottom: 2em;
    /* Ajusta este valor a lo que necesites */
    padding: 1em;
    /* Añade un poco de espacio alrededor del contenido dentro de cada article */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    margin-top: 1%;
}

.post>header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post>header>div:first-of-type {
    flex: auto;
}

.post>header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.post>header h2 {
    font-size: 1.5em;
    margin-bottom: 0;
    text-align: center;
}

.post .about {
    color: slategray;
    font-style: italic;
}

.post .body {
    white-space: pre-line;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    margin-top: 2%;

}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin: 0 auto 1em;
    width: 25%;
    display: block;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

.button {
    margin-top: 1% !important;
    background-image: linear-gradient(to right, #377ba8, #4e54c8);
    color: white;
    font-size: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
}


.login {
    background-color: white;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 120%;

}

.nueva {
    background-color: white;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 120%;
}

.edita {
    background-color: white;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 120%;

}

.register {
    background-color: white;
    width: 60%;
    margin: 0 auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 120%;

}

.radio-buttons {
    display: flex;
    flex-direction: column;
    color: darkblue;
    text-align: center;
    align-items: center;
}

.radio-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000000;
    position: relative;
    margin-right: 10px;
}

.radio-circle::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #4f46cf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked+.radio-circle::before {
    transform: translate(-50%, -50%) scale(1);
}

.radio-button:nth-of-type(1) input[type="radio"]:checked+.radio-circle::before {
    background-color: #0d0081;
}

.radio-button:nth-of-type(2) input[type="radio"]:checked+.radio-circle::before {
    background-color: #0d0081;
}

.radio-button:nth-of-type(3) input[type="radio"]:checked+.radio-circle::before {
    background-color: #0d0081;
}

.radio-label {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.radio-button:hover .radio-circle {
    border-color: #4f46cf;
}

.radio-button:hover input[type="radio"]:checked+.radio-circle::before {
    background-color: #4f46cf;
}



.audio.green-audio-player {
    width: 400px;
    min-width: 300px;
    height: 56px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    background-color: #fff;
    margin: 2em 0;
    margin-left: 18%;
}

.audio.green-audio-player .play-pause-btn {
    cursor: pointer;
}

.audio.green-audio-player .slider {
    flex-grow: 1;
    background-color: #d8d8d8;
    cursor: pointer;
    position: relative;
}

.audio.green-audio-player .slider .progress {
    background-color: #44bfa3;
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
}

.audio.green-audio-player .slider .progress .pin {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #377ba8;
    position: absolute;
    pointer-events: all;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
}

.audio.green-audio-player .controls {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #00306e;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}

.audio.green-audio-player .controls .slider {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 2px;
    height: 4px;
}

.audio.green-audio-player .controls .slider .progress {
    width: 0;
    height: 100%;
    left: 0;
}

.audio.green-audio-player .controls .slider .pin {
    left: -8px;
    /* Cambiado de `right: -8px;` a `left: 0;` */
    top: -6px;
    width: 0;
}

.audio.green-audio-player .controls span {
    cursor: default;
}

.audio.green-audio-player .volume {
    position: relative;
}

.audio.green-audio-player .volume .volume-btn {
    cursor: pointer;
}

.audio.green-audio-player .volume .volume-btn .open path {
    fill: #44bfa3;
}

.audio.green-audio-player .volume .volume-controls {
    width: 30px;
    height: 135px;
    background-color: rgba(0, 0, 0, 0.62);
    border-radius: 7px;
    position: absolute;
    left: -3px;
    bottom: 52px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.audio.green-audio-player .volume .volume-controls.hidden {
    display: none;
}

.audio.green-audio-player .volume .volume-controls .slider {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 6px;
    border-radius: 3px;
}

.audio.green-audio-player .volume .volume-controls .slider .progress {
    bottom: 0;
    height: 100%;
    width: 6px;
}

.audio.green-audio-player .volume .volume-controls .slider .progress .pin {
    left: -5px;
    top: -8px;
}

.acknowledgements{
    background-color: white;
    color: #00306e;
    /* Ajusta este valor a lo que necesites */
    padding: 3em;
    /* Añade un poco de espacio alrededor del contenido dentro de cada article */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-decoration: none;
}

.fondoAudioVideo{
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #4CAF50; 
    border: none; 
    color: white;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s; 
}

.custom-file-upload:hover {
    background-color: #45a049; 
}