{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<section class="register">
<h2>{% block title %}Regístrate en nuestra aplicación{% endblock %}</h2>

<form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" required>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="confirm_password">Confirm Password</label>
    <input type="password" name="confirm_password" id="confirm_password" required>
    <input class="button" type="submit" value="Register">
</form>
</section>
{% endblock %}

