<!doctype html>
<title>{% block title %}{% endblock %} - SOUND-AI</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<header>
  <section class="bordesheader">
    <nav class="premenu">
      <h1>SOUND-AI</h1>
      <ul>
        {% if g.user %}
        <li><span style="font-family: 'serif', cursive; color: gold;">{{ g.user['name'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
          {% else %}
        <li><a class="enlacesSesion" href="{{ url_for('auth.register') }}">Regístrate</a>
        <li><a class="enlacesSesion" href="{{ url_for('auth.login') }}">Inicia Sesión</a>
          {% endif %}
      </ul>
    </nav>
    <nav class="menu">

      <a class="menu-link" href="{{url_for('sound.index')}}">Audios Públicos</a>
      <a class="menu-link" href="{{url_for('sound.misaudios')}}">Mis Audios</a>
      <a class="menu-link" href="{{url_for ('sound.merge_audio_video')}}">Audio+Vídeo</a>
      <a class="menu-link" href="{{url_for('sound.consejos')}}">Consejos</a>

    </nav>
  </section>
  {% block header %}{% endblock %}
</header>
<section class="content">
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block content %}{% endblock %}
</section>
<section class="contenedorfooter">
  <footer>
    <ul>
      <li><a class="footer-link" href="#">Cómo se hizo</a>
      <li><a class="footer-link" href="#">Información</a>
      <li><a class="footer-link" href="#">Contacto</a>
      <li><a class="footer-link" href="#">Términos y políticas</a>
    </ul>
  </footer>
</section>

<!-- <script>// Cuando la página se carga, verifica si hay un enlace activo almacenado en el almacenamiento local
  window.onload = function () {
    var activeLink = localStorage.getItem('activeLink');
    if (activeLink) {
      document.querySelector(activeLink).classList.add('active');
    }
  }

  // Agrega un evento de clic a cada enlace
  document.querySelectorAll('.footer-link').forEach(link => {
    link.addEventListener('click', function () {
      // Elimina la clase 'active' de todos los enlaces
      document.querySelectorAll('.footer-link').forEach(link => {
        link.classList.remove('active');
      });
      document.querySelectorAll('.menu-link').forEach(link => {
        link.classList.remove('active');
      });
      // Agrega la clase 'active' al enlace que se acaba de hacer clic
      this.classList.add('active');
      // Almacena el enlace activo en el almacenamiento local
      localStorage.setItem('activeLink', '.footer-link[href="' + this.getAttribute('href') + '"]');
    });
  });

  document.querySelectorAll('.menu-link').forEach(link => {
    link.addEventListener('click', function () {
      // Elimina la clase 'active' de todos los enlaces
      document.querySelectorAll('.menu-link').forEach(link => {
        link.classList.remove('active');
      });
      document.querySelectorAll('.footer-link').forEach(link => {
        link.classList.remove('active');
      });
      // Agrega la clase 'active' al enlace que se acaba de hacer clic
      this.classList.add('active');
      // Almacena el enlace activo en el almacenamiento local
      localStorage.setItem('activeLink', '.menu-link[href="' + this.getAttribute('href') + '"]');
    });
  });
 -->



</script>